In [6]:
import pandas as pd

# Creating the student DataFrame 
data = {
'Name': ['Mudit Chauhan', 'Seema Chopra', 'Rani Gupta', 'Aditya Narayan', 'Sanjeev Sahni', 'Prakash Kumar',
 
'Ritu Agarwal', 'Akshay Goel', 'Meeta Kulkarni', 'Preeti Ahuja', 'Sunil Das Gupta', 'Sonali Sapre',
'Rashmi Talwar', 'Ashish Dubey', 'Kiran Sharma', 'Sameer Bansal'],
'Birth_Month': ['December', 'January', 'March', 'October', 'February', 'December', 'September', 'August',
'July', 'November', 'April', 'January',
'June', 'May', 'February', 'October'],
'Gender': ['M', 'F', 'F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F', 'F', 'M', 'F', 'M'],
'Pass_Division': ['III', 'II', 'I', 'I', 'II', 'III', 'I',
'I', 'II', 'II', 'III', 'I', 'III', 'II', 'II', 'I']
}
df = pd.DataFrame(data)

In [7]:

# a. Perform one hot encoding of the last two columns using get_dummies()
df_encoded = pd.get_dummies(df, columns=['Gender', 'Pass_Division'])

In [8]:
# b. Sort the DataFrame on the "Birth Month" column
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [9]:
df_encoded['Birth_Month'] = pd.Categorical(df_encoded['Birth_Month'], categories=month_order, ordered=True)
df_encoded = df_encoded.sort_values(by='Birth_Month')

In [5]:
# Displaying the resulting DataFrame
print("DataFrame after one-hot encoding and sorting:") 
print(df_encoded)

DataFrame after one-hot encoding and sorting:
               Name Birth_Month  Gender_F  Gender_M  Pass_Division_I  \
0     Mudit Chauhan    December     False      True            False
1      Seema Chopra     January      True     False            False
2        Rani Gupta       March      True     False             True
3    Aditya Narayan     October     False      True             True
4     Sanjeev Sahni    February     False      True            False
5     Prakash Kumar    December     False      True            False
6      Ritu Agarwal   September      True     False             True
7       Akshay Goel      August     False      True             True
8    Meeta Kulkarni        July      True     False            False
9      Preeti Ahuja    November      True     False            False
10  Sunil Das Gupta       April     False      True            False
11     Sonali Sapre     January      True     False             True
12    Rashmi Talwar        June      True     False            False
13     Ashish Dubey         May     False      True            False
14     Kiran Sharma    February      True     False            False
15    Sameer Bansal     October     False      True             True

    Pass_Division_II  Pass_Division_III
0              False               True
1               True              False
2              False              False
3              False              False
4               True              False
5              False               True
6              False              False
7              False              False
8               True              False
9               True              False
10             False               True
11             False              False
12             False               True
13              True              False
14              True              False
15             False              False